.form {
  padding: 30px;
  border-radius: 10px;
  background-color: lightgray;
  max-height: 300px;
}

.form input,
.form select {
  width: 100%;
  display: block;
}

.form button {
  margin-top: 30px;
}
