.taskContainer {
  background-color: lightgray;
}

.taskContainer ul {
  list-style: none;
  padding: 0;
}

.taskContainer li {
  min-width: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
}
