.taskContainer {
  padding: 20px;
  background-color: lightgray;
}

.taskContainer ul {
  list-style: none;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taskContainer li {
  padding: 5px;
  border: 1px solid black;
}
